.imgslide {
  width: 400vw;
  margin: 1rem;
}

.img__container div {
  width: 100vw;
  height: 500px;
  float: left;
}

.img1 {
  background-color: #49b293;
}

.img2 {
  background-color: #b03532;
}

.img3 {
  background-color: #6a478f;
}

.img4 {
  background-color: #da6f2b;
}

.slide__arrow {
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 0px;
  bottom: 0px;
}
